<div class="container-header container-fluid">
  <div class="row justify-space-between align-items-center flex-nowrap">
    <div class="col col-xs-4 d-flex justify-content-center">
      <app-boards-menu
        [boardSelectHooks]="boardSelectHooks"
        (boardSelected)="onBoardSelected($event)"
      ></app-boards-menu>
    </div>
    <div class="col col-xs-4 d-flex d-flex justify-content-center">
      <div class="container-logo">
        <img class="image-logo" src="../assets/LOGO_1.png" alt="LOGO" />
      </div>
    </div>
    <div class="col col-xs-4 d-flex justify-content-center">
      <app-user-menu></app-user-menu>
    </div>
  </div>
</div>
