<div *ngIf="board !== null" class="container">
  <form>
    <div
      class="board-header-edit row d-flex justify-content-center align-items-center"
    >
      <div class="col-8 col-xs-8 col-md-8">
        <label class="form-label">NAME: </label>
        <input
          class="form-control"
          type="text"
          name="title"
          [(ngModel)]="board.title"
        />
      </div>
    </div>
    <div class="columns pb-3 row">
      <div class="drag-and-drop-header">
        <i class="bi bi-hand-index-fill"></i
        ><span
          >Drag&nbsp;&&nbsp;drop&nbsp;a&nbsp;column
          to&nbsp;change&nbsp;its&nbsp;order</span
        >
      </div>
      <div
        *ngFor="let col of board.columns; let i = index"
        class="column draggable mt-3 col-12 col-xs-12 col-sm-5 col-md-4 col-lg-3 col-xl-2"
        draggable="true"
        (dragstart)="onDragStart($event, col)"
        (dragover)="onDragOver($event)"
        (dragenter)="onDragEnter($event)"
        (dragleave)="onDragLeave($event)"
        (drop)="onDrop($event, col)"
        (dragend)="onDragEnd($event)"
      >
        <div class="dashed-border">
          <button
            class="btn btn-success round-button add-column"
            (click)="addColumnAtIndex(i)"
          >
            <i style="font-size: 1.5rem" class="bi bi-clipboard-plus"></i>
          </button>
          <button
            class="btn btn-danger round-button delete-column"
            (click)="deleteColumnAtIndex(i)"
          >
            <i style="font-size: 1.5rem" class="bi bi-clipboard-x-fill"></i>
          </button>
        </div>
        <div class="draggable-text">Drag to re-order</div>
        <header
          class="mt-4 mb-1 d-flex justify-content-centerc align-items-center"
        >
          <input
            type="text"
            class="form-control"
            [name]="col.title + 'i'"
            [(ngModel)]="col.title"
            value="col.title"
          />
        </header>

        <div class="row" *ngFor="let task of col.tasks">
          <div class="task-container col-xs-12">
            <p class="p-3 task" [ngStyle]="{ background: task.color }">
              {{ task.text }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button
        type="submit"
        class="btn btn-dark button-dark btn-lg"
        (click)="handleBoardDisplayModeSet()"
      >
        BACK
      </button>
    </div>
  </form>
</div>
