.board-header-edit {
  border-radius: 3px;
  background-color: #000;
  margin-top: 2rem;
  padding: 1rem;
  color: #fff;
}

/* DRAG  */
.column-dragged {
  border-top: 15px solid #000;
  top: 2rem;
  opacity: 0.6;
  cursor: move;
}

.column-dragenter {
  background-color: #000;
}

.draggable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.draggable:hover {
  border: 2px solid silver;
}

.draggable .draggable-text {
  display: none;
}

.draggable:hover .draggable-text {
  display: block;
}

.draggable-text {
  color: silver;
  font-size: 0.75rem;
}
.draggable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* COLUMN */
.columns {
  border: 3px solid #000;
}
.column {
  position: relative;
}

.column header {
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  height: 6rem;
}

.column header input {
  padding: 0.5rem 0.25rem;
  margin: 0.5rem;
}

/* TASK */
.task-container {
  border-radius: 3px;
}
.task {
  border-radius: 3px;
}
