<div *ngIf="board !== null" class="container">
  <form>
    <div
      class="board-header-edit row d-flex justify-content-center align-items-center"
    >
      <div class="col-8 col-xs-8 col-md-8">
        <label class="form-label">NAME: </label>
        <input class="form-control" type="text" value="title" />
      </div>
    </div>

    <div>
      <button
        class="btn btn-dark button-dark btn-lg"
        (click)="handleBoardDisplayModeSet()"
      >
        BACK
      </button>
      <button type="submit" class="btn btn-success btn-lg">SAVE</button>
    </div>
  </form>
</div>
