<app-welcome
  *ngIf="activeUser === null"
  style="flex: 1"
  (guestSession)="onGuestSession()"
></app-welcome>

<div *ngIf="activeUser !== null">
  <app-header
    [username]="activeUser.username"
    [boardSelectHooks]="boardSelectHooks"
    (boardSelected)="onBoardSelected($event)"
    (boardAddedPrompt)="onBoardAddedPrompt()"
    (loggedOut)="onLoggedOut()"
  ></app-header>
  <app-board
    *ngIf="boardMode === 'display'"
    [board]="getActiveBoard()"
    (boardDeleted)="onBoardDeleted($event)"
  ></app-board>

  <app-board-add
    (boardAdded)="onBoardAdded($event)"
    *ngIf="boardMode === 'add'"
  ></app-board-add>

  <app-board-edit
    *ngIf="boardMode === 'edit'"
    [board]="getActiveBoard()"
  ></app-board-edit>

  <div
    class="no-board-selected"
    *ngIf="
      activeUser !== null &&
      activeUser.activeBoardIndex === null &&
      afterBoardDeletedPrompt === false
    "
  >
    <div class="row justify-content-center align-items-center">
      <div class="col-8">
        <h2>No board selected</h2>
        <p>
          Use the board dropdown menu in the top section to select another board
          to display or make a new one.
        </p>
      </div>
    </div>
  </div>

  <div class="after-board-deleted" *ngIf="afterBoardDeletedPrompt === true">
    <div class="row justify-content-center align-items-center">
      <div class="col-8">
        <h2>Board deleted</h2>
        <p>
          Use the board dropdown menu in the top section to select another board
          to display or make a new one.
        </p>
      </div>
    </div>
  </div>
</div>
