<div class="dropdown container-dropdown">
  <button
    class="btn btn-dark dropdown-toggle container-button-active"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <span class="button-text-dark">{{ username }}</span>
    <i class="bi bi-person-circle icon-button-active icon-button-large"></i>
  </button>
  <ul class="dropdown-menu">
    <li class="dropdown-item-mobile-username">
      <div class="dropdown-item button-active">
        <div>Logged in as:</div>
        <i class="bi bi-person-circle"></i>
        <span>{{ username }}</span>
      </div>
    </li>
    <li>
      <a class="dropdown-item button-active" (click)="handleLoggedOut()">
        <i class="bi bi-box-arrow-left"></i>
        <span>LOG OUT</span>
      </a>
    </li>
  </ul>
</div>
