<div class="dropdown container-dropdown">
  <button
    class="btn btn-dark dropdown-toggle container-button-dark"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <span class="button-text-dark">GUEST</span>
    <i class="bi bi-person-circle icon-button-dark icon-button-large"></i>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item button-dark">
        <i class="bi bi-person-circle icon-button-dark"></i>
        <span></span>
      </a>
    </li>
  </ul>
</div>
