.dropdown-item-mobile-username {
  display: none;
}
.dropdown-item-mobile-username div {
}
.dropdown-item i {
  margin-right: 1rem;
}
.dropdown-item div {
  margin-bottom: 0.33rem;
}
@media screen and (max-width: 576px) {
  .dropdown-item-mobile-username {
    display: block;
  }
}
