<div class="container welcome-container">
  <div class="row clepsidre-background">
    <div
      class="col-12 col-xs-12 d-flex justify-content-center align-items-start hourglass-half hourglass-top"
    >
      <button
        type="button"
        class="button-guest btn btn-dark button-bg-dark button-active d-flex justify-content-center align-items-center"
      >
        <i class="bi bi-door-open-fill"></i>
        <span>GUEST</span>
      </button>
    </div>
    <div class="col-12 col-xs-12">
      <button type="button" class="btn btn-light">Light</button>
    </div>
  </div>
</div>
