.welcome-container {
  height: 100%;
  position: relative;
}
.welcome-logo-column {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 90%;
  height: 100%;
  width: 10%;
}
.row {
  height: 100%;
  background-image: url("./../../assets/Clepsidre.png");
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
}
.col {
  height: 75%;
}
.hourglass-top {
  align-items: center;
}
.hourglass-bottom {
  align-items: center;
}
.btn {
  font-weight: bold;
  height: 2rem;
  font-size: 0.61rem;
}
.button-guest {
  margin-top: -2rem;
}
.button-login {
  margin-bottom: -1rem;
}
.button-register {
  margin-bottom: -1rem;
}
i {
  font-size: 1rem;
  margin-right: 0.25rem;
}

@media screen and (min-width: 576px) {
  .hourglass-top {
    align-items: center;
  }
  .hourglass-bottom {
    align-items: end;
  }
  .button-guest {
    margin-top: -2rem;
    height: initial;
  }
}
@media screen and (min-width: 768px) {
  .button-guest {
    margin-top: -5rem;
    padding: 0 2rem;
    height: 8rem;
    font-size: 1.25rem;
  }
  .button-login {
    margin-bottom: -1rem;
    height: initial;
    font-size: 1rem;
  }
  .button-register {
    margin-bottom: -1rem;
    height: initial;
    font-size: 1rem;
  }
  i {
    font-size: 1.75rem;
    margin-right: 0.5rem;
  }
}
@media screen and (min-width: 992px) {
  .button-guest {
    height: 10rem;
  }
  .button-login {
    margin-top: 0;
    font-size: 1.25rem;
  }
  .button-register {
    margin-top: 0;
    font-size: 1.25rem;
  }
  i {
    font-size: 2.25rem;
  }
}

form {
  background-color: #fff;
  padding: 2rem;
}

form .btn-close {
  margin-left: auto;
}
form label {
  font-weight: bold;
}
form button {
  margin-top: 1rem;
}
