<div class="container welcome-container">
  <div class="row clepsidre-background">
    <div
      class="col-12 col-xs-12 d-flex justify-content-center align-items-start hourglass-half hourglass-top"
    >
      <button
        type="button"
        class="button-guest btn btn-dark button-bg-dark button-active d-flex justify-content-center align-items-center"
      >
        <i class="bi bi-door-open-fill"></i>
        <span>GUEST</span>
      </button>
    </div>
    <div
      class="col-12 col-xs-12 d-flex justify-content-center align-items-end hourglass-half hourglass-top"
    >
      <button
        type="button"
        class="button-user btn btn-light button-bg-light button-active d-flex justify-content-center align-items-center"
      >
        <i class="bi bi-door-open-fill"></i>
        <span>USER</span>
      </button>
    </div>
  </div>
</div>
