<div class="container-fluid welcome-container">
  <img src="../assets/LOGO_COLUMN.png" alt="" class="welcome-logo-column" />
  <div class="row clepsidre-background">
    <div class="col-12 col-xs-12 d-flex justify-content-center hourglass-top">
      <button
        type="button"
        class="button-guest btn btn-dark button-bg-dark button-active d-flex justify-content-center align-items-center"
        (click)="logInGuest()"
      >
        <i class="bi bi-door-open-fill"></i>
        <span>GUEST</span>
      </button>
    </div>
    <div
      class="col-12 col-xs-12 d-flex flex-column align-items-center justify-content-evenly hourglass-bottom"
    >
      <button
        type="button"
        class="button-login btn btn-light button-bg-light button-active d-flex justify-content-center align-items-center"
      >
        <i class="bi bi-door-open-fill"></i>
        <span>LOG IN</span>
      </button>
      <button
        type="button"
        class="button-register btn btn-light button-bg-light button-active d-flex justify-content-center align-items-center"
      >
        <i class="bi bi-door-open-fill"></i>
        <span>SIGN UP</span>
      </button>
    </div>
  </div>
</div>
