<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{ board.title }}</h1>
    </div>
    <div class="col"><app-board-header></app-board-header></div>
  </div>
</div>
<div class="row">
  <div class="col" *ngFor="let col of board.columns">
    <header>
      col header
      {{ col.title }}
    </header>
    <div class="row" *ngFor="let task of col.tasks">
      <div class="col-xs-12">
        <div [ngStyle]="{ background: task.color }">{{ task.text }}</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-board-edit></app-board-edit>
  </div>
</div>
