/* COLUMN */
.columns {
  border: 3px solid #000;
  overflow: scroll;
  min-height: 100%;
}

/* DELETE BOARD */
.delete-prompt {
  padding: 1rem;
}
.delete-prompt .row {
  margin-bottom: 2.5rem;
}

.delete-prompt button {
  font-size: 2rem;
}
