/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

/* BUTTONS */
.container-button-dark {
  background-color: #000;
}
.button-dark {
  cursor: pointer;
}

/* LOGOS */
.container-logo {
  border-radius: 3px;
  border-bottom: 1px solid #000;
  padding: 0.9rem;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: #000;
}
.text-logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.64rem;
  text-transform: uppercase;
  border-radius: 3px;
  color: #fff;
  margin-top: 0.75rem;
  margin-right: 0.225rem;
  text-align: left;
  width: 100%;
}

.image-logo {
  border-radius: 3px;
  height: 2rem;
  width: 10rem;
}
