/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

app-root {
  height: 100%;
}
app-root > div {
  height: 100%;
}

app-board-add {
  height: 100%;
  display: block;
}

/* HEADERS */
.container-header {
  background-color: #000;
  border-bottom: 1px solid #000;
}
/* BUTTONS */
.container-dropdown {
  height: 6rem;
  width: 6rem;
}
.container-button-active {
  height: 100%;
  background-color: #000;
  --bs-btn-border-radius: 3px;
}
.button-active {
  cursor: pointer;
  --bs-dropdown-link-active-bg: #000;
  --bs-dropdown-link-active-color: #fff;
}
.button-bg-dark {
  --bs-btn-bg: #000;
}
.button-bg-light {
  --bs-btn-bg: #fff;
}
.button-text-dark {
  font-weight: bold;
}
@media screen and (max-width: 576px) {
  .button-text-dark {
    display: none;
  }
  .container-dropdown {
    height: initial;
    width: initial;
  }
}
/* ICONS */
.icon-button-active {
  margin-left: 0.5rem;
}
.icon-button-large {
  font-size: 1.5rem;
}

/* LOGOS */
.container-logo {
  border-radius: 3px;
  border-bottom: 1px solid #000;
  padding: 0.9rem 0;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: #000;
}

.image-logo {
  border-radius: 3px;
  height: 6rem;
  width: 16rem;
}
@media screen and (max-width: 576px) {
  .image-logo {
    height: 2.75rem;
    width: 6rem;
  }
}

/* FORMS */
form {
  background-color: #fff;
  padding: 2rem;
}

form .btn-close {
  margin-left: auto;
}
form label {
  font-weight: bold;
}
form button {
  margin-top: 1rem;
}

.form-error {
  color: red;
  font-weight: bold;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}
